<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>For all users</title>
</head>
<body>
<h1>Goods Edit</h1>
<ul>
    <li th:each="good : ${goods}">
            <div th:text="${good.id}"></div>
            <div th:text="${good.name}"></div>
            <div th:text="${good.cost}"></div>
    </li>
</ul>

<form action="#" th:action="@{/goods/mvc/edit}" method="post" th:object="${good}">
    <input type="text" th:field="*{id}" id="id" placeholder="id">
    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <input type="text" th:field="*{cost}" id="cost" placeholder="price">
    <input type="submit" value="Create">
</form>
</body>
</html>